.crit
	position: relative

	.crit_location
		color: white
		font-size: 12px
		white-space: nowrap
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		background-color: #000
		color: white
		padding: 1px 4px
		border: 1px solid white
		box-shadow: 0 0 0px 2px #000

	&.type_vehicle
		.crit_location
			top: 43%


.motive_crit
	padding: 10px
	width: calc(40vw - 3px)
	background-color: #333
	padding: 0
	color: white
	font-size: 14px
	flex-shrink: 0
	strong
		font-size: 16px
	p
		margin: 0
		padding: 6px 6px
		&:nth-child(odd)
			background-color: #444
