.hit_wrapper
	width: 47px
	position: relative
	&::after
		content: ' '
		padding-top: 130%
		display: block

	&.single
		width: 70%
		&.vehicle_hit_wrapper
			width: 30%
			&::after
				padding-top: 140%
		&::after
			padding-top: 70%
		.hit
			transform: translate(-50%, -50%) scale(.5)
		.vehicle_hit
			transform: translate(-50%, -50%) scale(.3)

	.damage
		position: absolute
		top: 58%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 12px
		background-color: #000
		color: white
		padding: 1px 2px
		border: 1px solid white
		box-shadow: 0 0 0px 2px #000

	&.vehicle_hit_wrapper
		.damage
			top: 43%
	&.vtol_hit_wrapper
		.damage
			top: 43%


.hit
	width: 220px
	height: 306px
	display: block
	transform: translate(-50%, -50%) scale(.2)
	transform-origin: center center
	position: absolute
	top: 50%
	left: 50%
	img
		height: auto
		position: absolute
	.head
		top: 0
		left: 50%
		transform: translateX(-50%)
	.left_arm
		top: 36px
		left: 0
	.left_torso
		top: 16px
		left: 52px
	.center_torso
		top: 47px
		left: 50%
		transform: translateX(-50%)
	.right_torso
		top: 16px
		right: 52px
	.right_arm
		top: 36px
		right: 0
	.left_leg
		bottom: 0
		left: 43px
	.right_leg
		bottom: 0
		right: 43px

	&.back
		width: 150px
		height: 110px
		.left_torso
			position: absolute
			top: 0
			left: 0
		.center_torso
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
		.right_torso
			position: absolute
			top: 0
			right: 0

.vehicle_hit
	width: 300px
	height: 445px
	display: block
	transform: translate(-50%, -50%) scale(.15)
	transform-origin: center center
	position: absolute
	top: 50%
	left: 50%
	img
		height: auto
		position: absolute
	.vehicle_left_side
		top: 3px
		left: 0
	.vehicle_front
		top: 0
		left: 50%
		transform: translateX(-50%)
	.vehicle_turret
		top: 198px
		left: 50%
		transform: translateX(-50%)
	.vehicle_right_side
		top: 3px
		right: 0
	.vehicle_rear
		left: 50%
		transform: translateX(-50%)
		bottom: 0

.vtol_hit
	width: 246px
	height: 365px
	display: block
	transform: translate(-50%, -50%) scale(.2)
	transform-origin: center center
	position: absolute
	top: 50%
	left: 50%
	img
		height: auto
		position: absolute
	.vtol_left_side
		top: 60px
		left: 60px
	.vtol_front
		top: 0
		left: 50%
		transform: translateX(-50%)
	.vtol_rotor
		top: 149px
		left: 50%
		transform: translateX(-50%)
	.vtol_right_side
		top: 60px
		right: 60px
	.vtol_tail
		left: 50%
		transform: translateX(-50%)
		bottom: 0