@import 'styles/_mixins.sass'

.roller
	display: flex
	flex-direction: column
	justify-content: flex-end
	align-items: center
	width: 100%
	min-height: 100vh
	padding: 5px

.target_type
	margin: 3px 0 10px 0
	width: 230px
	display: flex
	justify-content: space-between
	li
		width: calc(33.33% - 3px)
	button
		background-color: #333
		border: 3px solid #444
		padding: 5px 10px
		width: 100%
		&.active
			+active()

.attackDirection_and_hit
	justify-content: center
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-gap: 3px
	width: 230px
	margin-top: 20px
	button
		width: 100%
		border: 3px solid #444
		&.active
			+active()

	li:first-child
		grid-column: 1 / span 3
		text-align: center
		display: flex
		justify-content: center
		height: 50px

	li:nth-child(2)
		button
			height: 90px

	li:nth-child(3)
		button
			height: 90px
			width: 90px
			font-size: 20px

	li:nth-child(4)
		button
			height: 90px
	
	li:last-child
		grid-column: 1 / span 3
		text-align: center
		display: flex
		justify-content: center
		height: 50px

.header_bar
	color: white
	background-color: #734c25
	padding: 3px 6px
	margin: 0 0 3px 0

.single_hit
	width: 100%
	display: flex
	justify-content: center

.roll
	margin-top: 10px
	width: 100%
	> li
		display: flex
		flex-wrap: wrap
	h2
		position: relative
		> div
			position: absolute
			top: 0
			right: 0

.cluster_hits, .hits
	color: white
	width: 100%
	.hits_wrapper
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		> div
			margin: 5px

.scrolling_list
	width: 100%
	margin: 10px
	position: relative
	.more
		position: absolute
		bottom: -20px
		right: 0
		font-size: 16px
		color: white
	.crits_wrapper
		overflow-x: auto
		display: flex
		justify-content: flex-start
		> div
			margin: 1vw

// .floating_crits
// .vehicle_motive_crits

.hit_spacer
	width: 44px
	height: 61px

.weapon_types
	width: 100%
	display: flex
	justify-content: space-between
	.weapon_type
		text-align: center
		width: calc(25% - 2px)
		display: block
		> li:first-child
			color: white
			padding-bottom: 5px
		sup
			font-size: 8px
			padding-left: 2px
		button
			width: 100%
			white-space: nowrap
			margin: 3px 0
